.task {
    margin-bottom: 10px;
    border-radius: 5px;
    min-height: 50px;
    background-color: #fff;
    padding: 5px 10px;
}

.task:hover {
    background-color: #EDEFF0;
    cursor: pointer;
}

.task > .task-color {
    width: 50px;
    height: 8px;
    border-radius: 4px;
    display: inline-block;
}

.task > .task-title {
    font-weight: bold;
}