<!DOCTYPE html>
<html>
<head>
    <title>TaskCalendar</title>
    <link rel="stylesheet" type="text/css" href="libs/css/semantic/semantic.css">
    <link rel="stylesheet" type="text/css" href="custom/css/taskcalendar.css">
</head>
<body>
    <div id="container" class="ui container">
        <div class="ui grid">
            <div v-for="day in days" class="four wide column">
                <h3 class="ui top attached block header">
                    <a href="#">
                        <i class="add circle icon"></i>
                    </a>
                    {{ day.title }}
                </h3>
                <div class="ui segment" v-for="task in day.tasks">
                    <div class="ui relaxed divided list">
                        <div class="item">
                            <div class="ui top right attached label">
                                <a href="">
                                    <i class="icon edit red"></i>
                                </a>
                                <a href="">
                                    <i class="icon circle remove middle"></i>
                                </a>
                            </div>
                            <i class="large github icon middle aligned"></i>
                            <div class="content">
                                <a class="header">{{ task.title }}</a>
                                <div class="description">
                                    {{ task.description }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="libs/js/jquery-2.1.4.js"></script>
    <script src="libs/js/semantic.js"></script>
    <script src="libs/js/vue.js"></script>
    <script src="custom/js/taskcalendar.js"></script>
</body>
</html>
